.officeroo-button {
  border-radius: 52px;
}

.text-shadow {
    text-shadow: 0.5px 0.5px 5px #239ed0;
}

.demo-request-button {
  border-radius: 52px;
  background-color: orange;
}

.pricing-box {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 18px;
  margin: 10px;
  padding: 10px;
  background-color: #DEEFF2;
}

/*
COLOR PALETTE
#DEEFF2 - light white blue
#52c0ed - main blue
#005E9F - dark blue
#2a2a2a - black
# - orange
*/
