/*

  COLOR PALETTE

  #DEEFF2 - light white blue
  #52c0ed - main blue
  #005E9F - dark blue
  #2a2a2a - black
  #FFB03E - orange

*/

.officeroo-button {
  border-radius: 52px;
}

.text-shadow {
  text-shadow: 0.5px 0.5px 5px #239ed0;
}

.demo-request-button {
  border-radius: 52px;
  background-color: #FF8C00;
}

.pricing-box {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 18px;
  margin: 10px;
  padding: 10px;
  background-color: #DEEFF2;
}

/* LOGO CHANGE COLOR ON SCROLL */
.logo-white { display: block !important; }
.logo-black { display: none !important; }
.affix .logo-white { display: none !important; }
.affix .logo-black { display: block !important; }

/* REQUEST DEMO NAVBAR BUTTON COLOR CHANGE ON SCROLL */
.navbar-button-black { display: none !important; }
.navbar-button-white { display: block !important; }
.affix .navbar-button-black { display: block !important; }
.affix .navbar-button-white { display: none !important; }

/* Layout tweeks for mobile view */
@media screen and (max-width: 480px) {
  .wsite-reversed {
    display: flex;
    flex-direction: column-reverse;
  }
}
